@using Revisao_Aula7_MVC.Models
@model List<Produto>

@{
	ViewData["Title"] = "Home Page";
}

<h2>Lista de Produtos</h2>

@if (Model != null && Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Nome
				</th>
				<th>
					Preço
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var produto in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => produto.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => produto.Preco)
					</td>
					<td>
						@Html.ActionLink("Editar", "Editar", new { id = produto.Id }) |
						@Html.ActionLink("Detalhar", "Detalhar", new { id = produto.Id }) |
						@Html.ActionLink("Excluir", "Excluir", new { id = produto.Id })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Nenhum produto encontrado.</p>
}
